 body{
   /* background: linear-gradient(90deg, #ff5733, #33c3ff, #ff33ff);
  background-size: 300% 300%;
  animation: gradientMove 6s ease infinite; */
  background-color: rgb(25, 25, 52);

  font-family: 'poppins', sans-serif;
}

/* @keyframes gradientMove {~~
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  } */

  /*navbar*/
  .container-fluid {
    padding-left: 50px;
    padding-right: 50px;
  }

.navbar {
  font-family: 'poppins', sans-serif;
  font-size: larger;
  background-color: transparent;
  
}
.clipped-img-fluid{
  width: px ;
}


.navbar-brand img {
  height: 60px; /* Atur tinggi logo */
  width: auto; /* Sesuaikan lebar secara proporsional */
  object-fit: contain; /* Pastikan logo tidak terdistorsi */
}
.nav-link {
  color: aliceblue;
}
.nav-link:hover{
  color: rgb(210, 126, 126);
}

/*container*/
.atas{
  position: relative;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 400x;  /* Lebar gambar */
  height: 400px; /* Tinggi gambar */
  border-radius: 60%; /* Membuat gambar menjadi lingkaran */
  object-fit: cover; /* Agar gambar tidak terdistorsi */
  

}

.uniform-img {
  width: 100%; /* Pastikan lebar gambar mengikuti container */
  height: 200px; /* Atur tinggi gambar */
  object-fit: cover; /* Agar gambar tidak terdistorsi */
  object-position: center; /* Fokuskan gambar pada tengah */
  border-radius: 0.5rem; /* Tambahkan radius untuk sudut */
}


.datang {
  position: relative;
  justify-content: center;
}
.satu{
  position: relative;
  justify-content: center;
}
.bawah {
  position: relative;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.list-group-name {
  font-weight: bold; /* Bold untuk judul */
  margin-bottom: 10px; /* Jarak dengan list item */
}

.list-group-item {
  text-align: left; /* Paksa semua list item menjadi rata kiri */
}
.card {
  border: 2px solid;
  border-color: rgb(255, 255, 255);
  background-color: transparent;
}
.btn {
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 2px solid;

}
.btn:hover {
  background-color: rgb(10, 4, 33);
  border: 2px solid;

}
.btn:active{
  color: rgb(255, 255, 255);

}


/*footer*/
footer{
  background: transparent;
}
.fut-img {
  height: 20px;
  width: auto;
  object-fit: contain;
  color: aliceblue;
}

.teks-who {
  position: relative;
  padding-left: 75px;
  padding-right: 75px;
  font-size: 18px;
}
p {
  color: rgb(236, 238, 241);
}
h2, h5 {
  color:rgb(236, 238, 241);
}

.list-group-item {
  background: transparent; /* Menghilangkan warna background default */
  border: none; /* Opsional: Menghapus garis border */
  color: white; /* Warna teks agar konsisten */
}