 body{
   /* background: linear-gradient(90deg, #ff5733, #33c3ff, #ff33ff);
  background-size: 300% 300%;
  animation: gradientMove 6s ease infinite; */

  font-family: 'poppins', sans-serif;
}

/* @keyframes gradientMove {~~
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  } */

  /*navbar*/
  .container-fluid {
    padding-left: 50px;
    padding-right: 50px;
  }

.navbar{
  font-family: 'poppins', sans-serif;
  font-size: larger;
  
}
.clipped-img-fluid{
  width: px ;
}


.navbar-brand img {
  height: 60px; /* Atur tinggi logo */
  width: auto; /* Sesuaikan lebar secara proporsional */
  object-fit: contain; /* Pastikan logo tidak terdistorsi */
}


/*container*/
.atas{
  position: relative;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 400x;  /* Lebar gambar */
  height: 400px; /* Tinggi gambar */
  border-radius: 60%; /* Membuat gambar menjadi lingkaran */
  object-fit: cover; /* Agar gambar tidak terdistorsi */
  

}

.uniform-img {
  width: 100%; /* Pastikan lebar gambar mengikuti container */
  height: 200px; /* Atur tinggi gambar */
  object-fit: cover; /* Agar gambar tidak terdistorsi */
  object-position: center; /* Fokuskan gambar pada tengah */
  border-radius: 0.5rem; /* Tambahkan radius untuk sudut */
}


.datang {
  position: relative;
  justify-content: center;
}
.satu{
  position: relative;
  justify-content: center;
}
.bawah {
  position: relative;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.list-group-name {
  font-weight: bold; /* Bold untuk judul */
  margin-bottom: 10px; /* Jarak dengan list item */
}

.list-group-item {
  text-align: left; /* Paksa semua list item menjadi rata kiri */
}

.fut-img {
  height: 20px;
  width: auto;
  object-fit: contain;
}

section + section {
  margin-bottom: 40px;
}